/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
    font-size: 17
}

button {
    background-color: lightcoral;
    border: none;
    
}

html {
    padding: 0;
    display: inline;
    background-color: #8FD0CA;
    width: 100%;
}
body {
    margin: 0;
    background-color: peachpuff;
}
header {
    background-color: #8FD0CA;
    color: lightcoral;
    width: 100%;
    height: 6vw;
    text-align: left;
    padding: 0px;
    margin: 0;
    line-height: 50px;
}

.page-header {
    height: 20px;
    line-height: 0px;
}

.page-header a {
    color: lightcoral;
    font-size: 3vw;
    background-color: #8FD0CA;
    text-decoration: none;
}
.navbar a{
    vertical-align: middle;
    text-decoration: none;
    font-size: 2vw;
    text-align: center;
    padding-right: 20px;
}
a {
    font-size: 17px;
}

p {
    font-size: 17px;
}

a:hover {
    text-decoration: none;
    background-color: transparent;
    
}

.devise-stuff {
    margin: auto;
    width: 50%;
    padding: 0px;
}
.main-program {
    margin: auto;
    width: 50%;
    padding: 0px;
 }

footer {
    
    margin: auto;
    width: 100%;
    padding: 10px;
    text-align: center;
}